body{
    margin:0px;
    padding: 0px;
}
.buttons-div{
    margin: 10px;
    padding: 10px;
}
#box{
    margin-left: 10px;
    background-color: blueviolet;
    width: 100px;
    height: 100px;
}

#sortbtn{
    height: 28px;
    width: 100px;
    margin: 10px;
}

#btn{
    height: 30px;
    width: 100px;
}

#container{
    background-color: cadetblue;
    display: flex;
    height: 90vh;
    width: 100%;
}

.b{
    margin:5px;
    background-color: blueviolet;
    height:100px;
    width: 100px;
}